.messagesection_container::-webkit-scrollbar {
  display: none;
}
.emoji_picker {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1000;
  width: auto;
}
@media screen and (max-width: 460px) {
  .emoji_picker {
    width: 100px;
    right: 250px;
  }
}
